
/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  .container {
    width: 90%;
    max-width: 800px;
    margin: 50px auto;
}

/* General Styles */

header {
  background-color: #007bff;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

header .container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

header h1 {
  font-size: 2.5rem;
  margin: 0;
}

header h2 {
  font-size: 1.5rem;
  margin: 10px 0;
  color: #fff;
}

header p {
  font-size: 1rem;
  margin: 10px 0;
  line-height: 1.6;
}

header p strong {
  color: #fff;
}

header p a {
  color: #ffd700;
  text-decoration: none;
}

header p a:hover {
  text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 768px) {
  header h1 {
    font-size: 2rem;
  }

  header h2 {
    font-size: 1.3rem;
  }

  header p {
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header p strong {
    display: block;
    margin-top: 10px;
  }

  header p a {
    display: block;
    margin-top: 5px;
  }
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    background: #007bff;
    /* background: #333; */
    color: #fff;
    margin-top: 2rem;
}

